#pic {
    padding: 20px;
    width: 150px;
    float: right;
  }

h3 {
    text-align: center;
    color: crimson;
}

div {
    padding-left: 30px;
    font-size: 12px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
padding: 10px;
}

#logo {
    width: 50px;
}

#col {
    color: blue;
}

